/* Nền tối bao phủ toàn màn hình */
.background {
    flex-grow: 1;
    background-color: rgb(26, 22, 37);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Khung chứa các nút */
.menu-container {
    align-items: center;
    justify-content: center;
}

/* Xóa phông nền xám mặc định của Button Unity, chỉnh lại chữ */
.menu-button {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    color: rgb(255, 255, 255);
    font-size: 35px; /* Cỡ chữ */
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 3px 0 rgb(0, 0, 0); /* Đổ bóng đen giống ảnh gốc */
    transition-duration: 0.1s;
}

/* Đổi sang màu vàng khi đưa chuột vào */
.menu-button:hover, .menu-button:focus {
    color: rgb(251, 217, 19);
}

/* Không bị hiện màu xám khi click chuột */
.menu-button:active {
    background-color: rgba(0, 0, 0, 0);
}