.background {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 500px;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/Scenes/Menu/title_blank.png?fileID=2800000&guid=1eee5045e003a974a800a2716d8ccef0&type=3#title_blank");
}

.menu-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu-item {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/ThaleahFat.ttf?fileID=12800000&guid=ac750909d96903d4381e41b27407aca1&type=3#ThaleahFat");
    font-size: 120px;
    -unity-font-style: bold;
    color: rgb(255, 215, 130);
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    text-shadow: 2px 2px 0 rgb(40, 20, 0);
    transition-property: scale, color;
    transition-duration: 0.1s;
    transform-origin: center;
    -unity-text-align: middle-center;
}

.menu-item:hover {
    color: rgb(255, 157, 0);
    scale: 1.1 1.1;
}
