.health-bar-container {
    flex-direction: row;
    padding: 10px;
}

.heart-container {
    width: 64px;
    height: 64px;
    margin-right: 4px;
    position: relative;
}

.heart-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('project:Assets/Character/Health/Heart.png');
    -unity-background-scale-mode: scale-to-fit;
}

.heart-mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%; /* Sẽ bị Script điều khiển từ 0-100% */
    overflow: hidden;
}

.heart-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px; /* Phải bằng chiều cao của container */
    background-image: url('project:Assets/Character/Health/Heart.png');
    -unity-background-scale-mode: scale-to-fit;
}